### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [239]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

## Purchasing Analysis (Total)

In [225]:
total_players = len(purchase_data["SN"].value_counts())
total_players

576

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [226]:
#count the unique items
unique_items = len(purchase_data["Item Name"].value_counts())
unique_items
#find the average of the price
average_price = purchase_data["Price"].mean()
average_price
#add the number of purchases
total_purchases = purchase_data["Purchase ID"].sum()
total_purchases
#sum of total revenue
# The unique method shows every element of the series that appears only once
total_revenue = purchase_data["Price"].sum()
total_revenue
#summary table
summary_table = pd.DataFrame({"Number of Unique Items": [unique_items],
                              "Average Price": average_price,
                              "Number of Purchases": total_purchases,
                              "Total Revenue": total_revenue})
summary_table

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987               303810        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [227]:
#finding a gender total
gender_stats = purchase_data.groupby(by="Gender").count()

#count of players by gender
total_count_gender = gender_stats["SN"].unique()

#percentage of players by gender
percentage_of_players = total_count_gender / total_players * 100

#finding gender percentages
gender_demographics = pd.DataFrame({"Percentage of Players": percentage_of_players, "Total Count": total_count_gender})
gender_demographics

   Percentage of Players  Total Count
0              19.618056          113
1             113.194444          652
2               2.604167           15


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [228]:
#count total purchased by gender
purchase_counts = gender_stats.value_count()
purchase_counts

#average price purchased by gender
average_price_by_gender = gender_total["Price"].mean()
average_price_by_gender

#total purchase total by gender
total_purchase = gender_total["Price"].sum()
total_purchase

#average total purchase per person
avg_purchase_per_person = average_price_by_gender/total_purchase
avg_purchase_per_person

purchasing_analysis = pd.DataFrame({"Purchase Count": [purchase_counts],
                              "Average Purchase Price": average_price_by_gender,
                              "Total Purchases": total_purchase,
                              "Avg Total Purchase per Person": avg_purchase_per_person})
purchasing_analysis

AttributeError: 'DataFrame' object has no attribute 'value_count'

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [229]:
#establishing bins
bins = [0, 10, 20, 30, 40, 50, 60, 100]
#bin labels
bin_labels = ["0 to 10", "11 to 20", "21 to 30", "31 to 40", "41 to 50", "51 to 100", "100 to 120"]
#segment and sort age valuesw into groups
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=bin_labels)
age_group = purchase_data.groupby("Age Group")
total_age_count = age_group["Age"].unique()
percent_of_players = (total_age_count/total_players) *100
#summary table
age_demographics = pd.DataFrame({"Total Count": total_age_count, "Percentage of Players": percent_of_players})
age_demographics.index.name = None
age_demographics

,Total Count,Percentage of Players
0 to 10,"[7, 10, 8, 9]","[1.215277777777778, 1.7361111111111112, 1.3888..."
11 to 20,"[20, 11, 19, 18, 12, 17, 15, 13, 16, 14]","[3.4722222222222223, 1.9097222222222223, 3.298..."
21 to 30,"[24, 23, 22, 21, 30, 29, 27, 25, 26, 28]","[4.166666666666666, 3.9930555555555554, 3.8194..."
31 to 40,"[40, 36, 35, 38, 37, 33, 32, 34, 31, 39]","[6.944444444444445, 6.25, 6.076388888888888, 6..."
41 to 50,"[44, 41, 42, 43, 45]","[7.638888888888889, 7.118055555555555, 7.29166..."
51 to 100,[],[]
100 to 120,[],[]

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [230]:
#purchase data by age group
group_ages = purchase_data.groupby("Age Group")

#purchase count
purchase_count = group_ages["Purchase ID"].count()

#avg purchase price
avg_purchase_price = group_ages["Price"].mean()

#total purchase price
total_purchase_price = age_group["Price"].sum()

#average total purchase price per person
avg_total_per_person = (avg_purchase_price / percent_of_players) *100

age_purchasing_analysis = pd.DataFrame({"Purchase Count": purchase_count,
                                       "Average Purchase Price": avg_purchase_price,
                                       "Total Purchase Value": total_purchase_price,
                                       "Avg Total Purchase Per Person": avg_total_per_person})
age_purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Age Group,,,,
0 to 10,32,3.405000,108.96,"[280.1828571428571, 196.12799999999996, 245.15..."
11 to 20,254,3.063622,778.16,"[88.23231496062999, 160.42239083750908, 92.876..."
21 to 30,402,2.992687,1203.06,"[71.82447761194038, 74.94728098637256, 78.3539..."
31 to 40,85,3.153647,268.06,"[45.41251764705883, 50.45835294117648, 51.9000..."
41 to 50,7,3.075714,21.53,"[40.263896103896094, 43.21003484320557, 42.181..."
51 to 100,0,NaN,0.00,[]
100 to 120,0,NaN,0.00,[]

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [231]:
#purchase data by SN
group_age = purchase_data.groupby("SN")
count_purchases = group_age["Purchase ID"].count()
#avg purchase by name
avg_purchase_by_name = group_age["Price"].mean()
#total purchse value by spender
total_purchase_value = group_age["Price"].sum()

top_spender_analysis = pd.DataFrame({"Purchase Count": [count_purchases],
                                     "Average Purchase Price": [avg_purchase_by_name],
                                     "Total Purchase Value": [total_purchase_value]})
top_spender_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value
0,SN Adairialis76 1 Adastirin33 1 Aeda9...,SN Adairialis76 2.280000 Adastirin33 ...,SN Adairialis76 2.28 Adastirin33 4.48...

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [271]:

#Item ID, Item Name, and Item Price counts
items = purchase_data[{"Item ID", "Item Name", "Price"}]

#Groupby item ID and Item Name
popular_items = items.groupby(["Item ID", "Item Name"])

#calculations for item name and item ID
purchase_item_count = items["Price"].count()

item_prices = items["Price"].sum()

purchase_values = item_prices / purchase_item_count

most_popular_items = pd.DataFrame({"Purchase Count": [purchase_item_count],
                                  "Item Price": [item_prices],
                                  "Total Purchase Value": [purchase_values]})
most_popular_items

   Purchase Count  Item Price  Total Purchase Value
0             780     2379.77              3.050987

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80

In [275]:
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
popular_formatted

   Purchase Count  Item Price  Total Purchase Value
0             780     2379.77              3.050987